<%= provide(:title, 'Visualizar Contacto') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Nombre:</strong>
      <%= @contacto.nombre %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @contacto.email %>
    </p>

    <p>
      <strong>Telefonocelular:</strong>
      <%= @contacto.telefonoCelular %>
    </p>

    <p>
      <strong>Telefonooficina:</strong>
      <%= @contacto.telefonoOficina %>
    </p>

    <p>
      <strong>Contacto de Cliente:</strong>
      <%= @cliente.nombre %>
    </p>

    <%= link_to 'Editar', edit_contacto_path(@contacto) ,  class:"btn btn-default
btn-lg active", role:"button"  %>
    <%= link_to 'Listar Contactos', cliente_contactos_path(@cliente),  class:"btn btn-default
btn-lg active", role:"button"  %>
  </div>
</div>