<tr>
  <% personal = Personal.find_by(id: user.personal_id) %>
  <% if(personal != nil) %>
      <td><%=  personal.nombre%></td>
      <td><%=  personal.apellido %></td>
      <td><%=  personal.cedula %></td>
  <% else %>
      <td colspan="3"></td>
  <% end %>

  <td><%= user.email %></td>
  <td><%= get_rol(user) %></td>

  <td><%= link_to 'Ver ', user,type:"button",
                  class:"btn btn-link  btn-sm" %></td>
  <td><%= link_to 'Editar', edit_user_path(user),type:"button",
                  class:"btn btn-link  btn-sm" %></td>
  <td><%= link_to 'Eliminar', user, method: :delete,
                  data: { confirm: '¿Seguro que desea eliminar Usuario?' },
                  type:"button",
                  class:"btn btn-link  btn-sm" %></td>
</tr>
