<%= provide(:title,"Editar Usuario") %>

<h1>Editar Usuario</h1>
<div class="row" style="float: right">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>
<%= render 'users/form' %>
<br>
<br>
<br>

<%= link_to 'Ver Usuario', @user , class:"btn btn-default btn-lg active",
            role:"button" %>
<%= link_to 'Listar Usuarios', users_path, class:"btn btn-default btn-lg
active",
            role:"button"  %>