<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-6 col-md-offset-3">
    <section class="user_info">
      <!--si no tiene personal asociado asi-->
      <%= gravatar_for @user %>
      <p>
        <strong>Email: </strong><%= @user.email %><br>
        <strong>Rol: </strong>  <%= get_rol(@user)%>
      </p>
      <% personal = Personal.find_by(id: @user.personal_id )%>
      <% unless personal.nil? %>
          <fieldset>
            <legend>Empleado </legend>
            <%= render 'personals/personal_individual',personal: personal%>
          </fieldset>
      <% end %>

      <br>
      <br>
      <br>
      <% if current_user.gerente_ds? %>
          <%= link_to 'Editar Usuario', edit_user_path(@user),
                      class:"btn btn-default btn-lg active",
                      role:"button"  %>
          <%= link_to 'Listar Personal', users_path, class:"btn btn-default
                btn-lg active",
                      role:"button"  %>
      <%end %>
      <!--sino render personal buscarlo con query y luego añadir rol y email-->

    </section>
  </aside>
</div>