<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nombre:</strong>
      <%= @personal.nombre %>
    </p>

    <p>
      <strong>Apellido:</strong>
      <%= @personal.apellido %>
    </p>

    <p>
      <strong>Cedula:</strong>
      <%= format_cedula(@personal.cedula) %>
    </p>

    <p>
      <strong>Direccion:</strong>
      <%= @personal.direccion %>
    </p>

    <p>
      <strong>Telefono casa:</strong>
      <%= @personal.telefono_casa %>
    </p>

    <p>
      <strong>Telefono celular:</strong>
      <%= @personal.telefono_celular %>
    </p>

    <p>
      <strong>Sexo:</strong>
      <%= @personal.sexo %>
    </p>

    <p>
      <strong>Fecha nacimiento:</strong>
      <%= @personal.fecha_nacimiento.strftime("%m/%d/%Y") %>
    </p>

    <%= link_to 'Editar Empleado', edit_personal_path(@personal),
                class:"btn btn-default btn-lg active",
                role:"button"  %>
    <%= link_to 'Listar Personal', personals_path, class:"btn btn-default
                btn-lg active",
                role:"button"  %>
  </div>
</div>